@import "./resets";
@import "./global";

.habit {
	position: relative;
	height: 80%;
	// border: 1px solid green;
	padding: 1rem;

	&__button {
		background-color: transparent;
		border: 40px solid transparent;
		position: absolute;
		top: 0;

		cursor: pointer;
	}

	&__button--prev {
		border-right-color: red;
		left: -6.5rem;
		top: 13rem;
	}

	&__button--next {
		border-left-color: red;
		right: -6.5rem;
		top: 13rem;
	}

	&__header {
		padding: 0.5rem;
		height: 20%;
		// border: 1px solid orange;
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	h6:first-child {
		margin-bottom: 2.5rem;
	}

	&__months-list {
		display: flex;
		height: calc(80% - 1rem);
		// border: 1px solid rgb(207, 10, 43);
		gap: 1rem;
		overflow-x: hidden;
	}

	&__month {
		height: 100%;
		border: 0;
		background: darkgray;
		// border: 1px solid black;
		flex: 1 0 100%;
		padding: 1rem;
	}

	&__months-list.isAnimating .habit__month {
		transition: transform 0.3s ease-in;
	}

	&__month-header {
		height: 20%;
		border: 1px solid red;
		margin-bottom: 1rem;
	}

	&__days-list {
		height: calc(80% - 2rem);
		border: 1px solid steelblue;
		overflow-y: scroll;
		background-color: white;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		&::-webkit-scrollbar {
			width: 1rem;
			&-track {
				background-color: #e3e3e3;
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			}

			&-thumb {
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
			}
		}
	}

	&__day {
		flex: 1 0 25%;
		border: 1px solid darkmagenta;
	}
}

@media (min-width: 630px) {
	.habit {
		&__month {
			flex: 1 0 calc(50% - 0.5rem);
		}

		&__months-list.isAnimating .habit__month {
			transition: transform 0.45s ease-in;
		}
	}
}

@media (min-width: 930px) {
	.habit {
		&__month {
			flex: 1 0 calc(33.33% - 0.625rem);
		}

		&__months-list.isAnimating .habit__month {
			transition: transform 0.55s ease-in;
		}
	}
}

@media (min-width: 1230px) {
	.habit {
		&__month {
			flex: 1 0 calc(25% - 0.75rem);
		}

		&__months-list.isAnimating .habit__month {
			transition: transform 0.6s ease-in;
		}
	}
}
